**โหลด dataset มา และนำไปเก็บในตัวแปร df**

In [ ]:
import pandas as pd

url_anime = "https://rmutp-my.sharepoint.com/personal/chananuwat-c_o365_rmutp_ac_th/_layouts/15/download.aspx?e=pToaPf&share=Ed9DmPL-bnpOrJA6o2rorfkBSozh9JLX__GYoX-vt2brgQ"

df = pd.read_csv(url_anime)
df.head()

,anime_id,anime_name,type,genre,episodes,rating,members,title_english,title_japanese,rate,source,image_url,premiered,studio,aired,duration
0,1,Cowboy Bebop,TV,"Action, Sci-Fi, Adult Cast, Space",26,8.75,1715493,Cowboy Bebop,カウボーイビバップ,R - 17+ (violence & profanity),Original,https://cdn.myanimelist.net/images/anime/4/196...,Spring 1998,Sunrise,"Apr 3, 1998 to Apr 24, 1999",24 min. per ep.
1,5,Cowboy Bebop: Tengoku no Tobira,Movie,"Action, Sci-Fi, Adult Cast, Space",1,8.38,351115,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,R - 17+ (violence & profanity),Original,https://cdn.myanimelist.net/images/anime/1439/...,NaN,Bones,"Sep 1, 2001",1 hr. 55 min.
2,6,Trigun,TV,"Action, Adventure, Sci-Fi, Adult Cast, Shounen",26,8.21,697872,Trigun,トライガン,PG-13 - Teens 13 or older,Manga,https://cdn.myanimelist.net/images/anime/7/203...,Spring 1998,Madhouse,"Apr 1, 1998 to Sep 30, 1998",24 min. per ep.
3,7,Witch Hunter Robin,TV,"Action, Drama, Mystery, Supernatural, Detective",26,7.25,109593,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),PG-13 - Teens 13 or older,Original,https://cdn.myanimelist.net/images/anime/10/19...,Summer 2002,Sunrise,"Jul 3, 2002 to Dec 25, 2002",25 min. per ep.
4,8,Bouken Ou Beet,TV,"Adventure, Fantasy, Supernatural, Shounen",52,6.95,14742,Beet the Vandel Buster,冒険王ビィト,PG - Children,Manga,https://cdn.myanimelist.net/images/anime/7/215...,Fall 2004,Toei Animation,"Sep 30, 2004 to Sep 29, 2005",23 min. per ep.

**เลือก columns ที่จะทำไปใช้ train**

In [ ]:
df_anime = df[['anime_id', 'anime_name', 'type', 'genre', 'episodes', 'rating', 'members']]
df_anime

,anime_id,anime_name,type,genre,episodes,rating,members
0,1,Cowboy Bebop,TV,"Action, Sci-Fi, Adult Cast, Space",26,8.75,1715493
1,5,Cowboy Bebop: Tengoku no Tobira,Movie,"Action, Sci-Fi, Adult Cast, Space",1,8.38,351115
2,6,Trigun,TV,"Action, Adventure, Sci-Fi, Adult Cast, Shounen",26,8.21,697872
3,7,Witch Hunter Robin,TV,"Action, Drama, Mystery, Supernatural, Detective",26,7.25,109593
4,8,Bouken Ou Beet,TV,"Adventure, Fantasy, Supernatural, Shounen",52,6.95,14742
...,...,...,...,...,...,...,...
23768,54298,Pacalien (Special),Special,"Comedy, Horror, Sci-Fi, Anthropomorphic",4,6.43,27
23769,54299,Yakedo to Hoshi,Movie,Avant Garde,1,6.43,22
23770,54300,Dawn,Movie,Slice of Life,1,6.43,16
23771,54301,Overtake!,TV,Racing,2,6.43,892
23772,54305,Thru the Moebius Strip,Movie,"Adventure, Sci-Fi",1,6.43,0

**กรอง anime_name ให้เหลือแต่ตัวอักษรและตัวเลข**

In [ ]:
import re

df_anime.anime_name = df_anime.anime_name.map(lambda name:re.sub('[^A-Za-z0-9]+', " ", name))
df_anime.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,anime_id,anime_name,type,genre,episodes,rating,members
0,1,Cowboy Bebop,TV,"Action, Sci-Fi, Adult Cast, Space",26,8.75,1715493
1,5,Cowboy Bebop Tengoku no Tobira,Movie,"Action, Sci-Fi, Adult Cast, Space",1,8.38,351115
2,6,Trigun,TV,"Action, Adventure, Sci-Fi, Adult Cast, Shounen",26,8.21,697872
3,7,Witch Hunter Robin,TV,"Action, Drama, Mystery, Supernatural, Detective",26,7.25,109593
4,8,Bouken Ou Beet,TV,"Adventure, Fantasy, Supernatural, Shounen",52,6.95,14742

**สร้าง dummies ของ genres และ types ให้กับอนิเมะ**

In [ ]:
genres_dummies = df_anime.genre.str.get_dummies(sep=', ')
genre_types = pd.get_dummies(df_anime.type)

**สร้าง features เพื่อเตรียมในการ train model**

In [ ]:
anime_features = pd.concat([genres_dummies, genre_types, df_anime.episodes, df_anime.rating, df_anime.members],axis=1)
anime_features.head()

,Action,Adult Cast,Adventure,Anthropomorphic,Avant Garde,Award Winning,Boys Love,CGDCT,Childcare,Combat Sports,...,Movie,Music,ONA,OVA,Special,TV,Unknown,episodes,rating,members
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,26,8.75,1715493
1,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,8.38,351115
2,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,26,8.21,697872
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,26,7.25,109593
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,52,6.95,14742

**ดูว่าตัวแปร anime_features มี columns อะไรบ้าง**

In [ ]:
anime_features.columns

Index(['Action', 'Adult Cast', 'Adventure', 'Anthropomorphic', 'Avant Garde',
       'Award Winning', 'Boys Love', 'CGDCT', 'Childcare', 'Combat Sports',
       'Comedy', 'Crossdressing', 'Delinquents', 'Detective', 'Drama', 'Ecchi',
       'Educational', 'Erotica', 'Fantasy', 'Gag Humor', 'Girls Love', 'Gore',
       'Gourmet', 'Harem', 'Hentai', 'High Stakes Game', 'Historical',
       'Horror', 'Idols (Female)', 'Idols (Male)', 'Isekai', 'Iyashikei',
       'Josei', 'Kids', 'Love Polygon', 'Magical Sex Shift', 'Magical girl',
       'Mahou Shoujo', 'Martial Arts', 'Mecha', 'Medical', 'Military', 'Music',
       'Mystery', 'Mythology', 'Organized Crime', 'Otaku Culture', 'Parody',
       'Performing Arts', 'Pets', 'Psychological', 'Racing', 'Reincarnation',
       'Reverse Harem', 'Romance', 'Romantic Subtext', 'Samurai', 'School',
       'Sci-Fi', 'Seinen', 'Shoujo', 'Shounen', 'Showbiz', 'Slice of Life',
       'Space', 'Sports', 'Strategy Game', 'Super Power', 'Supernatural',
       'Survival', 'Suspense', 'Team Sports', 'Time Travel', 'Vampire',
       'Video Game', 'Visual Arts', 'Workplace', 'Movie', 'Music', 'ONA',
       'OVA', 'Special', 'TV', 'Unknown', 'episodes', 'rating', 'members'],
      dtype='object')

**แทนค่าที่ไม่ซ้ำกันลงใน anime_features**

In [ ]:
from sklearn.preprocessing import MaxAbsScaler

max_abs_scaler = MaxAbsScaler()
anime_features = max_abs_scaler.fit_transform(anime_features)

**ดูว่าตัวแปร anime_features เก็บค่าอะไรไว้**

In [ ]:
anime_features

array([[1.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        3.28282828e-03, 9.60482986e-01, 4.72679665e-01],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        1.26262626e-04, 9.19868277e-01, 9.67447379e-02],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        3.28282828e-03, 9.01207464e-01, 1.92288691e-01],
       ...,
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        1.26262626e-04, 7.05817783e-01, 4.40857214e-06],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        2.52525253e-04, 7.05817783e-01, 2.45777897e-04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, ...,
        1.26262626e-04, 7.05817783e-01, 0.00000000e+00]])

**นำ anime_features มาหาข้อมูลที่ใกล้เคียงโดยแบ่งเป็นไบนารี่ทรี**

In [ ]:
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=21, algorithm='ball_tree').fit(anime_features)
distances, indices = nbrs.kneighbors(anime_features)

**เอาคอลลัม index มาเชื่อมกับชื่อ**

In [ ]:
def get_index_from_name(name):
    return df_anime[df_anime.anime_name == name].index.tolist()[0]

**ลองใช้ get index from name หา index จากชื่อ**

In [ ]:
get_index_from_name('Owari no Seraph')

9472

**สร้างตัวแปร all_anime_names ให้เก็บค่าชื่อ anime โดยใช้ list เข้ามาช่วยจัด**

In [ ]:
all_anime_names = list(df_anime.anime_name.values)

**ทำการสร้างฟังชั่นเพื่อให้อนิเมะที่มีชื่อเหมือนกัน**

In [ ]:
def get_id_from_partial_name(partial):
    for name in all_anime_names:
        if partial in name:
            print(name,all_anime_names.index(name))

**ทำการทดลองใช้**

In [ ]:
get_id_from_partial_name('Sword Art Online')

Sword Art Online 6626
Sword Art Online Sword Art Offline 7386
Sword Art Online Extra Edition 8207
Sword Art Online Sword Art Offline Extra Edition 8546
Sword Art Online II 8547
Sword Art Online II Debriefing 9634
Sword Art Online II Sword Art Offline II 9669
Sword Art Online Movie Ordinal Scale 11029
Sword Art Online Movie Ordinal Scale Sword Art Offline 13473
Sword Art Online Alicization 13488
Sword Art Online Alternative Gun Gale Online 13489
Sword Art Online Fatal Bullet The Third Episode Pilot ban 13988
Sword Art Online Fatal Bullet The Third Episode 14041
Sword Art Online Alternative Gun Gale Online Refrain 14337
Sword Art Online Alicization Recollection 15247
Sword Art Online Alicization War of Underworld 15459
Sword Art Online Alicization War of Underworld Reflection 15941
Sword Art Online Alicization War of Underworld 2nd Season 15967
Sword Art Online Alicization War of Underworld Recap 16414
Sword Art Online Progressive Movie Hoshi Naki Yoru no Aria 17066
Sword Art Online Progressive Movie Kuraki Yuuyami no Scherzo 21562
Sword Art Online Original Movie  23249
Sword Art Online Full Dive Opening Eizou 23261

**ทำการสร้างฟังชั่นเพื่อหาอนิเมะที่มีความคล้ายกัน**

In [ ]:
def print_similar_animes(query=None,id=None):
    if id:
        for id in indices[id][1:]:
            print(df_anime.iloc[id]["anime_name"])
    if query:
        found_id = get_index_from_name(query)
        for id in indices[found_id][1:]:
            print(df_anime.iloc[id]["anime_name"])

**ทดลองใช้ฟังชั่นโดยใส่ id ของ anime ลงไป**

In [ ]:
indices[21983][1:]

array([13007, 14231, 14201, 15970,   390])

In [ ]:
for id in indices[21983][1:]:
  print(id)
  print(df_anime.iloc[id]["anime_name"])

13007
Toji no Miko
14231
Fate Extra Last Encore Illustrias Tendousetsu
14201
Magatsu Wahrheit Zuerst
15970
Assault Lily Bouquet
390
Ragnar k The Animation

**ทำการลองใช้ id ทำการหาอนิเมะที่มีความคล้ายๆกัน**

In [ ]:
print_similar_animes(id=21983)

Toji no Miko
Fate Extra Last Encore Illustrias Tendousetsu
Magatsu Wahrheit Zuerst
Assault Lily Bouquet
Ragnar k The Animation

**Save model file**

In [ ]:
import numpy as np

np.save('indices.npy', indices)

**Load model file**

In [ ]:
import numpy as np
loaded_indices = np.load('indices.npy')

In [ ]:
loaded_indices.shape

(23773, 21)